<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="Pet"
    class="com.example.javalabs.controllers.Dog">

    </bean>
    <bean id="Car"
    class="com.example.javalabs.controllers.Car">

    </bean>

    <bean id="Employee"
    class="com.example.javalabs.controllers.Employee">
        <constructor-arg ref="Pet"/>

       <!-- <constructor-arg ref="myPet"/> -->
        <property name="car" ref="Car"/>
        <property name="name" value="${employee.name}"/>
        <property name="age" value="${employee.age}"/>
    </bean>

</beans>
